<h1>>> Dashboard</h1>

<div class="dashboard_info">
<h2>There is <%= @total_products %> products in the database.</h2>
<h2>There is <%= @total_categories %> categories in the database.</h2>
<h3> See all of them  <a href ="/admin/products">here</a>.</h3>
</div>